variables:
- task: AzureKeyVault@2
  inputs:
    KeyVaultName: 'kv-box-001'
    SecretsFilter: '*'
    RunAsPreJob: true
  ARM_PASS: $(adminPass)

trigger:
- none

pool: eland-pool

steps:
- task: AzureKeyVault@2
  inputs:
    azureSubscription: 'Azure Automation Demo(dafdecca-01a5-4a82-bba0-489c3c47f4d2)'
    KeyVaultName: 'kv-box-001'
    SecretsFilter: '*'
    RunAsPreJob: false
- task: CmdLine@2
  inputs:
    script: 'echo $(helloworld) > /tmp/secret.txt'
- task: CopyFiles@2
  inputs:
    SourceFolder: 'webapp-linux-managed-mysql/'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Azure-connection-manager'
    subscriptionId: 'dafdecca-01a5-4a82-bba0-489c3c47f4d2'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'rg-arm-test-001'
    location: 'australiaeast'
    templateLocation: 'Linked artifact'
    csmFile: '$(Build.ArtifactStagingDirectory)/azuredeploy.json'
    csmParametersFile: '$(Build.ArtifactStagingDirectory)/azuredeploy.parameters.json'
    overrideParameters: '-siteName $(siteName) -administratorLogin $(adminUser) -administratorLoginPassword $(ARM_PASS)'
    deploymentMode: 'Incremental'
